<div id="back">

<div class="columns">
<div class="column is-12">
<section class="hero is-large">
      <video autoplay="" loop="" style="position:absolute">
        <source src="https://festrip.com/images/home/bg-home.mp4" type="video/mp4">
      </video>
    <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-3">Don´t ever miss a concert</h1>
          <h2 class="subtitle is-3">Full Height subtitle</h2>
          <form class="guest-js-form">
          <div class="columns">
            <div class="column is-half is-offset-one-quarter">
            <p class="control">
              <input type="text" class="input js-artist is-border-radius">
            </p>
            <p class="control">
              <button type="submit" class="button js-submit is-fullwidth">Search</button>
            </p>
            </div>
          </div>
        </form>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- <section>
<div class="columns">
  <div class="column is-half is-offset-one-quarter">
  <div id="features" class="columns is-wrap">
    <div class="column is-half is-offset-one-quarter">
      <div class="">
        <p class="is-text-centered"><i class="fa fa-cog"></i></p>
        <h1 class="title is-3 is-text-centered">For all the music lovers</h1>
        <p class="content">
         Don´t ever miss a chance to follow your favorite bands while travelling around the world. Select your bands and see where and when are going to play...together!
        </p>
      </div>
    </div>
    </div>
  </div>
</div>
</section>
<div class="section">
</div>
<div class="name">
</div> -->
</div>
<div id="results">
</div>